@import 'https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Neonderthaw&display=swap'


$wawesColor: #8185f3
$homepageColor: #a1a3f2
$projectsColor: #adafff
$skillsAndToolsColor: #b9bbff
$aboutColor: #c5c7ff
$contactColor: #d2d3ff

$whiteColor: #fff
$blackColor: #000000
$neonBlueColor: #099FFF

$displayFlex: flex
$displayGrid: grid


.container	
    display: flex
    flex-direction: column
    background-repeat: inherit
    background-size: cover

body::-webkit-scrollbar 
  width: 10px

body
  scrollbar-width: thin
  scrollbar-color: $wawesColor

body::-webkit-scrollbar-track 
  background: $wawesColor

body::-webkit-scrollbar-thumb 
  background-color: $neonBlueColor 
  border-radius: 3px
  border: 2px solid $neonBlueColor    

h1, h2 
    text-align: center	

.topWawe
    position: absolute
    top: 0%
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0

.topWawe svg 
    position: relative
    display: block
    width: calc(300% + 1.3px)
    height: 220px

.topWawe .shape-fill 
    fill: $wawesColor

.neonText
    margin-top: 180px 
    font-family: 'Neonderthaw', cursive
    transform: skewY(3deg)
    display: grid
    justify-content: center
    justify-items: center
    color: $whiteColor
    font-size: 50px
    font-weight: bold
    text-shadow: 5px 5px 35px $neonBlueColor
    
.homepageAngledDiv 
    background-color: $homepageColor
    position: relative
    z-index: 1
    display: flex
    justify-content: center
    flex-direction: row
    flex-wrap: wrap
    
.homepageAngledDiv:after 
    background: inherit
    bottom: 0
    content: ''
    display: block
    height: 35%
    left: 0
    position: absolute
    right: 0
    transform: skewY(4deg)
    transform-origin: 32
    z-index: -1

.guyPicture
    width: 350px
    height: auto

.projectsAngledDiv 
    display: flex
    justify-content: center
    flex-direction: row
    flex-wrap: wrap
    justify-items: center
    background: inherit
    background-color: $projectsColor
    color: $whiteColor
    position: relative
    z-index: 1
 
.projectsAngledDiv:after 
    background: inherit
    bottom: 0
    content: ''
    display: block
    height: 60%
    left: 0
    position: absolute
    right: 0
    transform: skewY(356deg)
    transform-origin: 32
    z-index: -1

.skilsAndToolsDiv 
    display: flex
    background: inherit
    background-color: #b9bbff
    z-index: 1	
    height: auto
    justify-content: center

.skilsAndToolsDivsChild
    margin-bottom: 50px    

.aboutDivContainer
    background: $aboutColor
    display: flex
    justify-content: center

.aboutDiv
    width: 700px
    font-size: 20px
    background-color: $contactColor
    white-space: pre-wrap
    margin-bottom: 50px
    margin-top: 20px
    border-radius: 8px
    text-align: justify

.contactDiv 
    display: flex
    flex-direction: row
    flex-wrap: wrap	
    justify-content: center
    align-items: center
    background: inherit
    background-color: $contactColor
    color: $blackColor
    position: relative
    z-index: 1
    justify-content: space-evenly
    align-items: flex-start

.getInTouchContainer
    display: flex
    justify-content: flex-start

.getInTouchChild      
    width: 500px
    font-size: 18px
    background: $aboutColor
    white-space: pre-wrap
    border-radius: 8px
    margin: 5px
    text-align: justify

.footerDiv
    text-align: center
    display: grid
    justify-content: center
    justify-items: center
    background: inherit
    background-color: $contactColor
    color: $blackColor
    position: relative
    z-index: 1	
    padding-top: 5px
    padding-bottom: 5px
 
.bottomWawe
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0
    transform: rotate(180deg)

.bottomWawe svg 
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 55px
    transform: rotateY(180deg)

.bottomWawe .shape-fill 
    fill: $wawesColor

.footerText    
    text-align: center
    background-color: $wawesColor
    height: 65px
    display: flex
    justify-content: center
    align-items: center
    
    
.grecaptcha-badge 
    bottom: 5px !important

   

