.socialLogos
    display: flex
    position: relative
    flex-direction: row
    flex-wrap: wrap
    width: 80px
    height: auto


.trial2
    padding: 5px 
    // width: 120px
    // height: 100px


    