#body {
	display: grid;
	position: relative;
	font-family: 'Roboto';
}

#angleText {
	transform: skewY(3deg);
	display: grid;
	justify-content: center;
	justify-items: center;

	/* background-image: url('../img/rocks.jpg');
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	/* background-size: cover;  */
}

#angleDiv {
	background-color: #fee8d6;
	color: #fff;
	position: relative;
	z-index: 1;
}
#angleDiv:after {
	background: inherit;
	bottom: 0;
	content: '';
	display: block;
	height: 33%;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewY(3deg);
	transform-origin: 32;
	z-index: -1;
}

#angleDiv2 {
	display: flex;
	justify-content: center;
	justify-items: center;
	justify-content: space-evenly;
	background: inherit;
	background-color: #cd9b9b;
	color: #fff;
	position: relative;
	z-index: 1;
}

#angleDiv3 {
	display: grid;
	justify-content: center;
	justify-items: center;
	background: inherit;
	background-color: #f3e88e;
	color: #fff;
	position: relative;
	z-index: 1;
}

#angleDiv4 {
	display: grid;
	justify-content: center;
	justify-items: center;
	background: inherit;
	background-color: #e8f1d4;
	color: #fff;
	position: relative;
	z-index: 1;
}

#angleDiv5 {
	display: grid;
	justify-content: center;
	justify-items: center;
	background: inherit;
	background-color: #e9c2a6;
	color: #fff;
	position: relative;
	z-index: 1;
}

h2 {
	text-align: center;
}
